PORT=
DB_USER=
DB_HOST=
DB_PASSWORD=
DB_DATABASE=
SECRET=

#Nodemailer env değerleri
FROM_EMAIL=
FROM_PASSWORD=
FROM_NAME=

NOTIFICATION_SERVER_URL=

# wl-moto server URL (for data fetch scheduler)
MOTO_SERVER_URL=http://localhost:8082